public_subnet_cidr           = "10.0.0.0/24"
private_subnet_cidr          = "10.0.1.0/24"
root_sshkey                  = "ssh-rsa xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
whitelisted_ip_list          = ["0.0.0.0/0"]
gke_master_ipv4_cidr_block   = "172.16.0.0/28"
gke_cluster_ipv4_cidr_block  = "10.101.0.0/16"
gke_services_ipv4_cidr_block = "10.102.0.0/16"